<h3>Editar usuário: </h3>
<div class="card">
  <div class="card-body">
    <form action="/admin/usuario/edit" method="post">
        <div class="mb-3">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" value="{{usuarios.nome}}" placeholder="Nome de usuário">
        </div>
        <div class="mb-3">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" name="email" value="{{usuarios.email}}" placeholder="Endereço de e-mail">
        </div>
        <div class="mb-3">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" name="email" value="{{usuarios.senha}}" placeholder="Senha">
        </div>
        <br />
        <input type="hidden" name="id" value="{{usuarios._id}}">
        <button type="submit" class="btn btn-success">Editar usuário</button>
    </form>
  </div>
</div>