<form action="" method="POST">
    <p>Título:</p>
        <input type="text" name="titulo">
    <p>Conteúdo:</p>
        <textarea name="conteudo" id="" cols="30" rows="10"></textarea>
    <br>
    <button type="submit">ENVIAR</button>
</form>